{% set page = _Page.getPageData(slug) %}
{% set sidebar = _Page.getPageData("events") %}  

{{ set(this, 'title', page.title | raw) }}

{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData      = _Blog.getBlog() %}
{% set blogName      = blogData.title %}

{% macro smartquotes(text) %}
    {{text|replace({'/[^"]/': '&ldquo;', "/[^'']/": '&lsquo;', "'": '&rsquo;', '"': '&rdquo;'})}}
{% endmacro %}


{{this.registerJs("CardController();")}}

{% set limit = 8 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}

    <main id="main" class="site-page" role="main">
        

        {% if articles|length > 0 %}


        <section class="featured-slider">
            <div class="stat-page" height="250px">
                {% if articles[0] %}                                                                
                    {{this.render('partials/_single-article.twig', {article: articles[0], position: 1, containerClass: 'swiper-slide s1168x587 stat-page'}) | raw}}
                    {% set articleCount = articleCount + 1 %}
                {% endif %}
            </div><!-- .swiper-container-->
        </section><!-- .featured-slider-->
        {% endif %}
        </main>

<!-- Begin Container -->
<div class="page_section">
    <section class="home-page-content  container" style="max-width:none">
        <!-- Begin Terms -->
        <div class="content-wrap">
            <!-- <h3 class="sub-heading">{{page.title | raw}}</h3> -->
            <div class="row" style="margin-bottom:25px;">
                <div class="col-sm-9 col-md-9 col-lg-9" style="margin-bottom:25px;margin-left:15%;">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <div class="content_area static-page">
                        {{page.content | raw}}                        
                    </div>
                </div>
                 <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="page-sidebar">
                          {{sidebar.content | raw}}                      
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>